@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    background-color: steelblue;
    font-size: 1em;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header{
    text-align: center;
}
header > h1{
    color: white;
    text-shadow: 1px 1px 3px #00000073;
}

/* MAIN */
main{
    max-width: 600px;
    margin: auto;
    background-color: #eeeeee;
    border-radius: 0 10px;
    padding: 15px;
    box-shadow: 3px 3px 5px #00000049;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
main .verif{
    margin-bottom: 15px;
    border: solid 1px #838383;
    width: 100px;
    height: 25px;
    box-shadow: 1px 1px 3px #0000005b;
    text-align: center;
} 
main .anoNac{
    margin-bottom: 15px;
    border: solid 1px #999999;
    width: 150px;
    height: 20px;
    box-shadow: 1px 1px 3px #0000005b;
    text-align: center;
    text-decoration: none;
    
    
}

input{
    border-style: none;
    text-decoration: none;
    outline: none;
}

main .anoNac:hover{
    border: solid 1px rgb(23, 23, 24);
    transition-duration: 0.3s;
}

main .verif:hover{
    background-color: royalblue;
    border: solid 1px rgb(30, 69, 189);
    width: 100px;
    height: 25px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.302);
    transition-duration: 0.3s;
    
}

main > section > div > p > input{
    border: solid 1px black;
    font: normal 100 1em 'sans-serif';
}
main > section > .respostas{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px #0000000a;
    font-size: 1.1rem;
}

input{  
    padding: 0;
    margin: 0;
}

/* FOOTER */
footer{
    text-align: center;
}

footer > p{
    color: white;
}
