@charset "UTF-8";

body{
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #414141;
}
header{
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.096);
}
main{
    background-color: whitesmoke;
    max-width: 800px;
    min-width: 300px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
}
main input{
    padding: 30px 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
}
main input:hover{
    color: black;
    background-color: royalblue;
    transition: .5s;
}
main > article{
    text-align: center;
}
footer{
    text-align: center;
}