body{
    background-image: linear-gradient(to right, #a0a0a0, #bdbdbd, #a7a7a7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > h1{
    color: rgb(0, 0, 0);
    text-align: center;  
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.384);  
}
main{
    max-width: 350px;
    margin: auto;
    border-radius: 30px;
    background-color: rgb(6, 96, 156);
    padding: 60px;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
    
}
main > #contesto{
    margin: auto;
    text-align: center;
    
}
main > #res{
    text-align: center;
    font: normal italic 1.5em 'sasn-serif';
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.384);
}
main > #contesto > article > input{
    border-radius: 5px;
    text-decoration: none;
    border: solid 1px rgb(233, 233, 233);
    margin: 15px 3px ;
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 1.1rem;
  
}
main > #contesto > section > input:hover{
    border: solid 3px rgb(4, 198, 247);
    
}
main > #contesto > article > input:hover{
    color: #ffffff;
    text-shadow: 1px 1px 2px #08080854;
    font-weight: bolder;
    background-color: royalblue;
    border: solid 3px royalblue;
}
main > #contesto > section > input{
    border-radius: 5px;
    text-decoration: none;
    border: solid 1px rgb(233, 233, 233);
    margin: 0 3px;
    text-align: center;
    width: 100px;
    height: auto;
    font-size: 1.1rem;
}
strong{
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px #08080854;
}